<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD</title>
    <style>
      body{
        text-align: center;
      }

      table {
        margin: auto;
      }

      table, th, td {
        border: 3px solid black;
        border-collapse: collapse;
      }

      td,th {
        min-width: 60px;
        padding: 5px
      }

    </style>
  </head>

  <body>
    {% if nouvellesData.length !== 0 %}
      <div>
        <table>
          <head>
            <tr>
              <th>Id</th>
              <th>Text</th>
              <th>Delet</th>
            </tr>
          </head>
          <body>
            {% for nouvelle in nouvellesData %}
              <tr>
                <td>{{nouvelle.id}}</td>
                <td>{{nouvelle.text}}</td>
                <th>
                  <form action="/delete" method="POST">
                    <input type="hidden" value={{nouvelle.id}} name="id" />
                    <button type="submit" value="DELETE">X</button>
                  </form>
                </th>
              </tr>
            {% endfor %}
          </body>
        </table>
      </div>
    {% endif %}

    <br />

    <div>
      <form method="GET" action="/nouvelles">
        <button type="submit">Get All</button>
      </form>
    </div>

    <br /><hr style="width: 500px"/><br />

    <div>
      <form method="GET" action="/nouvelles">
        <input type="text" name="id" />
        <button type="submit">Get by Id</button>
      </form>
    </div>

    <br /><hr style="width: 500px"/><br />

    <div>
      <form method="POST" action="/nouvelles">
        <input type="text" name="id" placeholder="id"/>
        <input type="text" name="text" placeholder="text"/>
        <button type="submit">Ajouter Nouvelle</button>
      </form>
    </div>

  </body>
</html>
